


#Hero {
    background-color: #151715;
    height: 65vh;
    color: #F3F4ED;
    font-family: 'Montserrat', sans-serif;
}



.prof-img {
border-radius: 50%;
}


.call-to-action-button {
    margin-left: 11rem;
    margin-top: 3rem;
    font-family: 'Cormorant Garamond', serif;
    
}

/* I have different classes for the button since I had to specifically call out the bootstrap classes to make the font size and button colors change. Using my own button class wouldn't work. */
.btn {
    font-size: 1.4rem;
    font-weight: 500;
}
.btn-outline-success {
   
      --bs-btn-color: #F3F4ED;
    
      --bs-btn-border-color: #8AA166;
    
      --bs-btn-hover-color: #F3F4ED;
    
      --bs-btn-hover-bg: #8AA166;
    
      --bs-btn-hover-border-color: #8AA166;
    
      --bs-btn-focus-shadow-rgb: 25,135,84;
    
      --bs-btn-active-color: #F3F4ED;
    
      --bs-btn-active-bg: #8AA166;
    
      --bs-btn-active-border-color: #8AA166;
    
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    
      --bs-btn-disabled-color: #F3F4ED;
    
      --bs-btn-disabled-bg: transparent;
    
      --bs-btn-disabled-border-color: #8AA166;

}

.svg-arrow {
    transform: rotate(.25turn);
}


/* heading and subheading are different classes because they require differen positions and font styles. Trust me, I already tried combinging the classes and it didn't work. If we're going to have separate classes, might as well put the common things together I supposed. */
h1 {
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;
    font-weight: 700;
    
}

.hero-subheading {
    position: relative;
    z-index: 1;
    font-weight: 600;
    /* font-style: oblique; */
    padding-top: 3rem;
    font-family: 'Cormorant Garamond', serif;
}
.svg-hero-diamond {
    position: absolute;
    left: 13rem;
    top: 10rem;
    z-index: 0;
}

#About_Me {
    background-color: #3e4a1b;
    color: #F3F4ED;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-width: .3rem;
    color: #8AA166;
    margin-bottom: 1rem;
}

h4 {
    font-family: 'Cormorant Garamond', serif;
}

/* I have the font size called out in a class .credit-footer and through .nav-link since I needed to change bootstrap's class of nav-link. In that respect, .credit-footer changes the font-size of "collage photos by" and .credit-footer changes the link sizes. */

.credit_footer {
   font-size: small;
    color: #8AA166;
    font-style: italic;
}

/* .nav and .nav-link are noted here to change bootstrap's button css. */

.nav {
    --bs-nav-link-hover-color: #F3F4ED;
}


.nav-link {
    padding: 0 .5rem;
    margin-left: 0rem;
    color: #8AA166;
    font-size: small;
}

/* This just makes it so that the footer credits aren't right against the edge. */

.footer_content_placement {
    margin-left: .5rem;
}
/* I had to call out Bootstrap's width of the column here so that there wasn't a weird gap between "collage photos by" and the links. I couldn't find any other way to get around that (margin, padding, gaps, etc) */
@media (min-width:768px) {
.col-md-1 {
    width:6.5%;
}
}

#Skills {
    background-color: #151715;
    height: 85vh;
    color: #F3F4ED;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.col-border {
    border: .5rem solid #8AA166;
    border-radius: 10%;
    height: 65vh;
    width: max-content;
}

h5 {
    padding: 1rem 1rem .5rem;
}
    
.skills-svg {
    margin-top: 2rem;
}

.skills-subheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: .1rem;
}

.skills-p-formatting {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    margin: 0rem 0rem 1.8rem;
}

